/* ----------------------- */
/* Primary Gradients */
/* ----------------------- */
body.page-404 #header-default,
section.dark.primary-gradient,
.triple-con, .large-cta,
#header-2 {
  background: -webkit-linear-gradient(200deg, #ed9700, #f4c065);
  background: linear-gradient(200deg, #ed9700, #f4c065);
}

.btn.alt,
#pricing_1 .pricing__item:hover .btn {
  background: -webkit-linear-gradient(#f4c065, #ed9700);
  background: linear-gradient(#f4c065, #ed9700);
}

/* ----------------------- */
/* Custom Gradients */
/* ----------------------- */
.shader-gradient, #header-default.flat {
  background: -webkit-linear-gradient(200deg, #a920bb, #ed9700);
  background: linear-gradient(200deg, #a920bb, #ed9700);
}

/* ----------------------- */
/* Primary Colour */
/* ----------------------- */
.job-list-item:hover,
#nav a.nav-btn:hover,
#nav.light a.nav-btn:hover,
body.careers .job-list-item:hover,
body.pricing .job-list-item:hover {
  border-color: #ed9700;
}

footer#footer_light h1,
footer#footer_light h2,
footer#footer_light h3,
footer#footer_light h4,
footer#footer_light a:hover,
footer#footer_light .contact_link,
.skill-line .skill-line-inside .percentage,
.contact-detail i,
.service-icon-block h4,
.service-icon-block i,
.cbp-item h4,
section.counter.light i,
body.maintenance .main-icon,
body.maintenance .contain-message p,
#nav ul li ul li a:hover,
#header_subpage3 h3,
#pricing_1 .pricing--yama .pricing__price,
section a, p a, section a:visited, p a:visited, section a:active, p a:active,
h1.primary, h2.primary, h3.primary, h4.primary, p.primary, .icon,
.service-icon-block .service-block i,
.service-icon-block .service-block h4,
#nav nav ul li ul li a:hover,
.mobile-nav nav ul li ul li a:hover,
.mobile-nav nav ul li a:hover,
.mobile-nav ul > li > ul > li > ul li a,
.app_intro h4 i,
.article .article-foot h4,
.article h2:hover,
.btn, a.btn:hover {
  color: #ed9700;
}

.shader-primary,
section.primary,
.skill-line .skill-line-inside,
#testimonials .cbp-nav-pagination-item,
.cbp-item a.team_social:hover,
.social-icon:hover,
.cbp-l-filters-alignLeft .cbp-filter-item.cbp-filter-item-active,
#nav.stick.stuck.primary,
#nav a.nav-btn:hover,
.cbp-l-grid-mosaic-flat .cbp-caption-activeWrap,
.cbp-caption-overlayBottomReveal .cbp-caption-activeWrap,
#pricing_1 .pricing--yama .pricing__price::before,
#agency-portfolio .cbp-caption-overlayBottomReveal .cbp-caption-activeWrap,
.cbp-item .over,
.tabs .cbp-l-filters-big .cbp-filter-item.cbp-filter-item-active,
#nav.light a.nav-btn:hover {
  background: #ed9700;
}

@media (max-width: 991px) {
  #nav.mobile-stick {
    background: #ed9700;
  }
}

/* ----------------------- */
/* Secondary Colour */
/* ----------------------- */
#blog-mosaic-2 .blogDateTitle p,
#blog-mosaic-1 .blogDateTitle p,
footer#footer_1 .contact_link,
.country a,
section a:hover, p a:hover, a:hover {
  color: #f4c065;
}

#logo-strip img:hover,
#logo-strip svg:hover {
  fill: #ed9700;
}

:focus {
  outline-color: #ed9700;
}
