<footer id="footer_3">
  <div class="container">
    <div class="row">
        <div class="col-md-4 col-xs-6 center">
          <a href="index.html" class="logo">
            <img src="assets/img/razor-icon.png" alt="">
          </a>
        </div>

        <div class="col-md-4 col-xs-6 center pull-left">
          <h4>Menu</h4>

          <small>
            <ul>
              <li><a href="/services">Services</a></li>
              <li><a href="/projects">Projects</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
          </small>
        </div>
        <div class="v-spacer"></div>

        <div class="col-md-4 col-xs-6 center">
          <h4>Legal</h4>

          <small>
            <ul>
              <li><a href="">Terms</a></li>
              <li><a href="">Privacy</a></li>
              <li><a href="">Copyright</a></li>
            </ul>
          </small>
        </div>
        <div class="v-spacer"></div>
    </div>

    <div class="row copyright-section margin-top">
      <div class="col-md-6">
        <p>&copy; Copyright Razrfly. 2013</p>
      </div>

      <div class="col-md-6 align-right">
        <a href=""><i class="ion-social-facebook"></i></a>
        <a href=""><i class="ion-social-twitter"></i></a>
        <a href=""><i class="ion-social-linkedin"></i></a>
        <a href=""><i class="ion-social-googleplus"></i></a>
      </div>
    </div>
  </div>
</footer>
