<footer id="footer_3">
  <div class="container">
    <div class="row">
        <div class="col-md-4 col-xs-6 center">
          <a href="index.html" class="logo">
            <img src="/assets/img/razor-icon.png" alt="">
          </a>
        </div>

        <div class="col-md-4 col-xs-6 center pull-left">
          <h4>Menu</h4>

          <small>
            <ul>
              {% for item in site.data.nav.main %}
                <li>
                    <a href="{{ item.url }}">{{ item.text }}</a>
                </li>
              {% endfor %}
            </ul>
          </small>
        </div>
        <div class="v-spacer"></div>

        <div class="col-md-4 col-xs-6 center">
          <h4>Legal</h4>

          <small>
            <ul>
              {% for item in site.data.nav.legal %}
                <li>
                    <a href="{{ item.url }}">{{ item.text }}</a>
                </li>
              {% endfor %}
            </ul>
          </small>
        </div>
        <div class="v-spacer"></div>
    </div>

    <div class="row copyright-section margin-top">
      <div class="col-md-6">
        <p>&copy; Copyright Razrfly. 2013</p>
      </div>

      <div class="col-md-6 align-right">
        {% for item in site.data.nav.social %}
          <a href="{{ item.url }}">
            <i class="{{ item.icon }}"></i>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
</footer>
