<!-- Header -->
<header id="header_subpage1"
  style="background-image:url(
    {{ site.data.visual.header_background }}
    ); height: 450px !important;">

  <div class="shader"></div>

  <div class="caption ani_ fadeinup">
      <div class="container">
        <h1>
          {% if page.title == 'Projects' %}
            {{ site.data.headings.
              header[page.title]['main-header'] }}

            <h3>
              {{ site.data.headings.
                header[page.title]['sub-header'] }}
            </h3>
          {% else %}
            {{ site.data.headings.header[page.title] }}
          {% endif %}
        </h1>

        {% if page.title == 'Welcome' %}
          <a href="/service" class="btn alt">Get started!</a>
        {% endif %}
      </div>
  </div>
</header>
